#descuentos {
    background-color: #1CD1B0;
    margin: 0px;
    padding: 0.2px;
    border: 0px;
}
p {
    margin: 0px;
    padding: 0px;
    border: 0px;
}
#heroes {
    background-color: #00669F;
    margin: 0px;
    padding: 5px 2px;
}
#nav-principal {
    background-color:#001D2D;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#nav-principal a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 100%;
    vertical-align: baseline;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}
section{
    text-align: center;
    margin: 100px 0px;
    display: flex;
    direction: row;
    justify-content: space-around;
    align-items: center;
}
article {
    width: 320px;
    height: 500px;
    display: inline-block;
    padding: 10px;
    border: 1px solid;
    margin: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}
i {
    color: #CC2424;
    font-size: 30px;
    position: absolute;
    top: 20px; left: 25px;
}
.icon {
    border-radius: 50%;
    position: absolute;
    top: 120px; right: 90px;
}
h2 {
    position:absolute;
    top: 220px; left: 30px;
    padding: 0px 70px;
}
.batman {
    background-color: #F3F3F3;
    background-image: url('../img/849bfede3a5193c34ab8a00379e64fa2\ 1.png');
    border-radius: 10% 10% 0% 0%;
    background-repeat: no-repeat;
    background-size: contain;
}
.harley {
    background-color: #F3F3F3;
    background-image: url('../img/849bfede3a5193c34ab8a00379e64fa2\ 1\ \(1\).png');
    border-radius: 10% 10% 0% 0%;
    background-repeat: no-repeat;
    background-size: contain;
}
.mujerMaravilla {
    background-color: #F3F3F3;
    background-image: url('../img/Copia\ de\ 849bfede3a5193c34ab8a00379e64fa2\ 1.png');
    border-radius: 10% 10% 0% 0%;
    background-repeat: no-repeat;
    background-size: contain;
}
.superman {
    background-color: #F3F3F3;
    background-image: url('../img/Copia\ de\ 849bfede3a5193c34ab8a00379e64fa2\ 1\ \(1\).png');
    border-radius: 10% 10% 0% 0%;
    background-repeat: no-repeat;
    background-size: contain;
}
.mujerMaravilla h2 {
    padding: 15px 0px 0px 25px;
    text-align: center;
}
.mujerMaravilla p {
    position: relative;
    top: 270px;
}
.superman h2 {
    position: absolute;
    top: 230px;
}
.superman p {
    position: relative;
    top: 270px
}
.card {
    position: absolute;
    bottom: 140px;
}
button {
    background-color: #00669F;
    color: #FFFFFF;
    position: absolute;
    bottom: 30px; left: 110px;
    padding: 20px 30px;
}
footer {
    background-color: #00669F;
    color: #FFFFFF;
    margin: 0px;
    padding: 20px;
    border: 0px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.img-achicar {
    max-width: 40%;
    max-height: auto;
}
footer p {
    position: relative;
    left: 300px;
}
#logo {
    max-width: 10%;
    max-height: auto;
    padding: 0px 30px 0px 0px;
    margin: 0px;
    border: 0px;
}
#boton-mas {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: fixed;
    right: 900px; top: 500px;
    text-align: center;
    font-size: 30px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    z-index: 1;
}
#boton-mas a {
    color: #FFFFFF;
    text-decoration: none;
}

@media screen and (max-width: 425px) {
    html,
    body{
        width:100%;
        overflow-x:hidden;
    }
    body {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
    }
    section {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
    }
    #descuentos {
        background-color: #D1891C;
        margin: 0px;
        padding: 0.2px;
        border: 0px;
    }
    #heroes {
        width: 100vw;
    }
    footer {
        display: flex;
        justify-content: space-between;
    }
    footer p{
    margin: 0px;
    padding: 0px;
    text-align: center;
    align-self: flex-start;
    }
    #logo {
        max-width: 20vw;
        height: auto;
        padding: 0px;
    }
}
@media screen and (max-width: 768px) {
    #descuentos {
        background-color: #D1891C;
        margin: 0px;
        padding: 0.2px;
        border: 0px;
    }
    footer p {
        position: relative;
        left: 200px;
    }
    #boton-mas {
        border-radius: 50%;
        width: 60px;
        height: 60px;
        position: fixed;
        left: 90px; top: 500px;
        text-align: center;
        font-size: 30px;
        padding: 0px;
        margin: 0px;
        border: 0px;
        z-index: 1;
    }
}
/* sección registro */
#form-registro-header {
    display: flex;
    justify-content: start;
    background-color: #00669F;
    color: #FFFFFF;
    font-weight: 400px;
}
#form-registro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
}
#form-registro h1 {
    font-size: 72px;
    text-align: left;
    color: #333333;
}
#form-registro input {
    width: 620px;
    height: 60px;
    margin: 0px 0px 20px 0px;
    border: 1.53407px solid #000000;
}
#form-registro select {
    width: 630px;
    height: 60px;
    margin: 0px 0px 10px 0px;
    border: 1.53407px solid #000000;
}
#form-registro-botones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
#form-registro-reset {
    background-color: #888888;
    color: #FFFFFF;
    font-size: 24px;
    border-radius: 23px;
    width: 300px;
    height: 53.79px;
}
#form-registro-enviar {
    background-color: #1CD1B0;
    color: #000000;
    font-size: 24px;
    border-radius: 23px;
    width: 300px;
    height: 53.79px;
}
#form-registro-botones p {
    padding: 20px;
}
#form-registro-botones a {
    color: #1D67A0;
    text-decoration: none;
}
#registro-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
#registro-footer p {
    position: absolute;
    right: 0px; left: 540px;
}
/* sección login*/
#form-login-header {
    display: flex;
    justify-content: start;
    background-color: #00669F;
    color: #FFFFFF;
    font-weight: 400px;
}
#form-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
}
#form-login h1 {
    font-size: 72px;
    text-align: left;
    color: #333333;
}
#form-login input {
    width: 620px;
    height: 60px;
    margin: 10px;
    border: 1.53407px solid #000000;
}
#login-botones {
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#login-botones input {
    width: 620px;
    height: 60px;
    background-color: #1CD1B0;
    color: #000000;
    border-radius: 23px;
    font-size: 24px;
    margin: 20px;
}
#login-botones p {
    color: #1D67A0;
}
#login-botones a {
    color: #333333;
    text-decoration: none;
}
#login-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}
#login-footer p {
    position: absolute;
    right: 0px; left: 540px;
}
/* contacto */
textarea {
    width: 620px;
    height: 251px;
    margin-bottom: 30px;
}
#contacto-botones {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
/*sección agregar*/
#body-agregar {
    font-family: 'Inter', sans-serif;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
}
#form-agregar {
    width: 754px;
    height: 732px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #00669F;
    border-radius: 49px;
    padding: 0px;
    color: #FFFFFF;
}
#form-agregar h1, p {
    color: #FFFFFF;
    text-align: center;
}
#nombre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#nombre ::before {
    content: '*';
}
#name {
    width: 213px;
    height: 33px;
    background-color: #FFFFFF;
    border: 1.53407px solid rgba(0, 0, 0, 0.1);
    border-radius: 15.3407px;
    position: relative;
    left: 10px;
}
#species {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#species ::before {
    content: '*';
}
#especie {
    width: 213px;
    height: 40px;
    background-color: #FFFFFF;
    border: 1.53407px solid rgba(0, 0, 0, 0.1);
    border-radius: 15.3407px;
}
#descripcion {
    width: 213px;
    height: 207px;
    background: #FFFFFF;
    border: 1.53407px solid rgba(0, 0, 0, 0.1);
    border-radius: 15.3407px;
    font-family: 'Inter', sans-serif;
    position: relative;
    left: 10px;
    margin-top: 5px;
}
#fecha {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px;
}
#date {
    width: 213px;
    height: 33px;
    border: 1.53407px solid rgba(0, 0, 0, 0.1);
    border-radius: 15.3407px;
    font-family: 'Inter', sans-serif;
}
#image {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px;
}
#checkbox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px;
}
#options {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px;
}
fieldset {
    border: none;
}
#boton-agregar {
    background-color: #1CD1B0;
    color: #000000;
    width: 366px;
    height: 67px;
    border-radius: 19px;
    font-size: 30px;
    font-weight: 700;
    border: none;
    padding: 0px;
    margin: 20px;
}
label {
    margin: 10px;
}
#flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px;
}
#primercolumna {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 10px;
    position: relative;
    top: 10px;
}
#segundacolumna {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 10px;
}
#agregar-footer p {
    position: relative;
    left: 520px;
}